{% extends "html5.njk" %}

{% block head %}
{% endblock %}

{% block header %}
<h1>{{ title }}</h1>
{% endblock %}

{% block contentwww %}
<ul>
	{% for name, item in items %}
		<li>{{ name }}: {{ item }}</li>
	{% endfor %}
</ul>
{% endblock %}

{% block content %}
{{ content | safe }}
{% endblock %}
